<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SIW Book – Libri</title>
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

  <div th:insert="fragments/navbar :: navbar"></div>

  <section class="featured container">
    <h2>Tutti i Libri</h2>
    <div class="book-grid">
      <div th:each="book, iterStat : ${books}"
           class="book-card"
           th:classappend="${iterStat.index == 0} ? ' cover-only' : ''">
        <a th:href="@{/book/{id}(id=${book.id})}">
          <div class="card-image">
            <img th:if="${#lists.isEmpty(book.urlImages)}"
                 th:src="@{/images/default.jpg}"
                 th:alt="|Copertina di ${book.title}|"/>
            <img th:if="${!#lists.isEmpty(book.urlImages)}"
                 th:src="@{/images/{file}(file=${book.urlImages[0]})}"
                 th:alt="|Copertina di ${book.title}|"/>
          </div>
          <div class="card-info">
            <h3 th:text="${book.title}">Titolo</h3>
            <span class="year" th:text="${book.year}">Anno</span>
            <div class="year" th:each="author : ${book.authors}">
              <span th:text="${author.name + ' ' + author.surname}">Autore</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>


  <footer class="footer">
    <div class="container footer-content">
      <p>© 2025 SIW Book – Tutti i diritti riservati</p>
    </div>
  </footer>

</body>
</html>
